<div class="jumbotron">
  <div class="container">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <a class="navbar-brand" href="#">Mongo Scraper</a>
      <ul class="nav navbar-nav">
        <li class="active">
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/savedArticles">Saved Articles</a>
        </li>
        <li>
          <button type="button" class="btn btn-lg btn-danger scrapeButton">Scrape New Articles</button>
        </li>
      </ul>
    </nav>
  </div>
  <div class="container text-center">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h1>/r/javascript scraper</h1>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row"> 
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
       <div class="container articlesContainer">
      </div>
    </div>   
  </div>
</div>