<div class="jumbotron">
  <div class="container text-center">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h1>/r/javascript scraper</h1>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row"> 
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="container articlesContainer">
        <div class="col-xs-12" id="articles">
          <div class="text-center animated pulse infinite emtpyPlaceholder">
            <h3>CLICK THE<span id="saveText">SCRAPE BUTTON</span>TO LOAD ARTICLES</h3>
          </div>
          {{#each article}}
            {{#unless this.saved}}  
            <!-- Only display articles that have not been SAVED -->
              <div class="panel panel-default mongoArticles">
                <div class="panel-heading clearfix">
                  <h3 class="panel-title">{{this.title}}</h3>
                  <div class="pull-right">
                      <!-- add Mongo _id for each article so that it can be targeted for saving -->
                    <button type="button" class="btn btn-success saveButton" id="{{this._id}}">SAVE ARTICLE</button>
                  </div>
                </div>
                <div class="panel-body text-center">
                  <a href="{{this.link}}" target="_blank">CLICK TO READ ARTICLE</a>
                </div>
              </div>
            {{/unless}}
          {{/each}}
        </div> 
      </div>
    </div>   
  </div>
</div>
       