<div class="jumbotron text-center">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-md-10 col-lg-10 clearfix">
      <h5 class="headerArcs" id="headerArc">THE WORLD RENOWNED</h5>
      <h5 class="headerArcs2" id="headerArc2">JAVASCRIPT SUBREDDIT</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h1 id="jumboText">SCRAPER</h1>
    </div>
  </div>
</div>
<div class="container main">
  <div class="row">
    <div class="container articlesContainer col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
      <div id="articles">
        {{#unless article}}
        <div class="text-center animated pulse infinite emtpyPlaceholder">
          <h3>CLICK THE <span id="saveText">SCRAPE BUTTON</span> TO LOAD ARTICLES</h3>
        </div>
        {{/unless}} {{#each article}} {{#unless this.saved}}
        <!-- Only display articles that have not been SAVED -->
        <div class="panel panel-default mongoArticles">
          <div class="panel-heading ">
            <h3 class="panel-title text-center">{{this.title}}</h3>
          </div>
          <div class="panel-body text-center">
            <button type="button" class="btn saveButton hvr-bounce-to-left" id="{{this._id}}">SAVE ARTICLE</button>
            <button type="button" class="btn readButton hvr-bounce-to-right" id="{{this._id}}">
                  <a href="{{this.link}}" target="_blank">READ ARTICLE</a>
                </button>
          </div>
        </div>
        {{/unless}} {{/each}}
      </div>
    </div>
  </div>
</div>