{{#each article}}
  {{#if this.saved}}  
     <!-- Only display articles that have been SAVED -->
    <div class="panel panel-default mongoArticles">
      <div class="panel-heading clearfix">
        <div class="pull-right">
            <!-- add Mongo _id for each article so that it can be targeted for saving -->
          <button type="button" class="btn btn-success addNoteButton" id="{{this._id}}">ADD NOTE</button>
          <button type="button" class="btn btn-danger deleteButton" id="{{this._id}}">DELETE ARTICLE</button>
        </div>
        <h3 class="panel-title">{{this.title}}</h3>
      </div>
      <div class="panel-body text-center">
        <a href="{{this.link}}" target="_blank">CLICK TO READ ARTICLE</a>
      </div>
    </div>
  {{/if}}
{{/each}}